<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="\materialize\css\materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="\materialize\css\materialize.min.css"  media="screen,projection"/>


</head>
<body>

<h1>Olá Spring Boot</h1>
<a class="waves-effect waves-light btn-small" href="/cadastropessoa">Cad. Pessoa</a>


 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="\materialize\js\materialize.js"></script>
  <script type="text/javascript" src="\materialize\js\materialize.min.js"></script>
  
</body>
</html>