<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sistema de Barbearia</title>

 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
<link type="text/css" rel="stylesheet" href="\materialize\css\materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="\materialize\css\materialize.min.css"  media="screen,projection"/>

</head>

<body>

 <nav>
     <div class="nav-wrapper">
         <a href="#" class="brand-logo">Barber</a>
         <a href="#" data-activates="menu-mobile" class="button-collapse">
             <i class="material-icons">menu</i>
         </a>
         <ul class="right hide-on-med-and-down">
             <li><a href="#">Agenda</a></li>
             <li><a href="/cadastropessoa">Clientes</a></li>
             <li><a href="#">Profissionais</a></li>
             <li><a href="#">Aniversáriantes</a></li>
        </ul>
         <ul class="side-nav" id="menu-mobile">
             <li><a href="#">Agenda</a></li>
             <li><a href="#">Clientes</a></li>
             <li><a href="#">Profissionais</a></li>
             <li><a href="#">Aniversáriantes</a></li>
         </ul>
     </div>
 </nav>


 
 <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

 <script>
 $(function(){
     $(".button-collapse").sideNav();
 });
 </script>
 
</body>
</html>